
@use '@blueprintjs/core/lib/scss/variables' as bp;

.#{bp.$ns}-dialog.pb-explorer-replaceImportDialog {
    .#{bp.$ns}-dialog-footer-actions {
        flex-direction: column;

        .#{bp.$ns}-button {
            margin: 0;
        }
    }
}
