
@use '@blueprintjs/core/lib/scss/variables' as bp;

span.pb-external-link {
    white-space: nowrap;
}

// override some button magic in case this is used in a button
.#{bp.$ns}-button .pb-external-link .#{bp.$ns}-icon:first-child:last-child {
    margin: 0;
}
